<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Django Crud</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
              crossorigin="anonymous">
    </head>
    <body>
        <div class = "container">
            <br>
            <h2>Read</h2>
            <br>
            {% for student in students %}
                ID: {{ student.id }} - {{ student.name }} - {{ student.age }} <a href="{% url 'delete' student.id %}">Delete</a> 
                <a href="{% url 'edit' student.id %}">Update</a>
                <br>
            {% endfor %}
            <br>
            <h2>Create</h2>
            <br>
            <form action="{% url 'create' %}" method="post">
                {% csrf_token %}
                Name:
                <input type="text" name="name">
                Age:
                <input type="integer" name="age">
                <button type="submit">Create</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
    </body>
</html>
